/* Custom stylesheet for documentation-like pages, for
 * Morgan McGuire's Markdeep https://casual-effects.com/markdeep/
 *
 * Written by Aras Pranckevičius, http://aras-p.info/
 * Licensed as public domain or BSD 2-clause, whichever is more convenient for you.
 */
body {
	max-width: 70%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	margin: 0;
	padding: 0 1em;
}

@media screen and (min-width: 60em) {
	.md .longTOC, .md .mediumTOC, .md .shortTOC {
		max-width: 21%;
		float: right;
		position: fixed;
		right: 0px;
		top: 0px;
	}
}
@media screen and (max-width: 60em) {
	.md .longTOC, .md .mediumTOC, .md .shortTOC {
		display: none;
	}
	body {
		max-width: 100%;
	}
}
@media print {
	.md .longTOC, .md .mediumTOC, .md .shortTOC {
		display: none;
	}
	body {
		max-width: 100%;
	}
}



.md div.title, contents, .md .tocHeader,
h1, h2, h3, h4, h5, h6,
.nonumberh1, .nonumberh2, .nonumberh3, .nonumberh4, .nonumberh5, .nonumberh6,
.md .shortTOC, .md .mediumTOC, .md .longTOC {
	font-family: inherit;
}
.md div.title {
	margin: 0.4em 0 0 0;
	padding: 0;
	text-align: inherit;
}
h1, h2, .nonumberh1, .nonumberh2 {
	border-bottom: 1px solid rgba(0,0,0,.1);
}
h1, .nonumberh1, .md div.title {
	font-size: 150%;
	font-weight: 600;
    color: rgba(0,0,0,.7);
}
h2, .nonumberh2 {
	font-size: 120%;
	font-weight: 400;
    color: rgba(0,0,0,.9);
}
h1:before, h2:before, h3:before { content: none; }
.md a {
	font-family: inherit;
}
.md a:link, .md a:visited {
	color: #3f51b5;
}
code, pre.listing {
	background-color: rgba(0,0,0,.05);
	padding: 0.1em 0.2em;
	border-radius: 0.15em;
}
pre.listing code {
	background-color: transparent;
	padding: 0;
	border: none;
}

.md .longTOC, .md .mediumTOC, .md .shortTOC {
	font-size: inherit;
	line-height: 120%;
	margin: 1em 0;
	padding: .4rem;
	border-left: .1rem solid #3f51b5;
}

.md .tocHeader {
	margin: 0;
	padding: 0;
	border: none;
	font-size: inherit;
}

.tocNumber {
	display: none;
}

.md .longTOC .level1, .md .mediumTOC .level1, .md .shortTOC .level1 {
	font-weight: inherit;
	padding: 0;
	margin: 0;
}

.md .longTOC p, .md .mediumTOC p, .md .shortTOC p {
	overflow: hidden;
	text-overflow: ellipsis;
}
.md .longTOC center, .md .mediumTOC center, .md .shortTOC center {
	text-align: left;
}
.md .longTOC b, .md .mediumTOC b, .md .shortTOC b {
	font-weight: 400;
}
.md .longTOC a, .md .mediumTOC a, .md .shortTOC a {
	color: black;
}

.md .longTOC .level1, .md .mediumTOC .level1, .md .shortTOC .level1,
.md .longTOC .level2, .md .mediumTOC .level2, .md .shortTOC .level2,
.md .longTOC .level3, .md .mediumTOC .level3, .md .shortTOC .level3 {
	white-space: nowrap;
	margin: 0;
	padding: 0;
	font-size: 90%;
}

.md table.table {
	font-size: 90%;
}
.md table.table th {
	border: none;
	background-color: #ccc;
	color: rgba(0,0,0,.6);
}
.md table.table tr, .md table.table td {
	border-color: #eee;
}
.md table.table tr:nth-child(even) {
	background-color: #f4f4f4;
}

.note, .warn, .error {
	position: relative;
    margin: 1em 0;
    padding: .4rem 0.8rem;
    border-radius: .2rem;
}
.note {
    border-left: 1.2rem solid rgba(68,138,255,.4);
    background-color: rgba(68,138,255,.15);
}
.warn {
    border-left: 1.2rem solid rgba(0,191,165,.4);
    background-color: rgba(0,191,165,.15);
}
.error {
    border-left: 1.2rem solid rgba(255,23,68,.4);
    background-color: rgba(255,23,68,.15);
}
